<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            PRODUCTOS 
        </ion-list-header>

        <ion-item *ngFor="let product of products">
            <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/134/134530.svg">
            </ion-avatar>
            <ion-label>
            <h2>Producto: {{product.nombre}}</h2>
            <div class="flex">
                <span class="font">P1: ${{product.precio1}}</span>
                <span class="font">P2: ${{product.precio2}}</span>
                <span class="font">P3: ${{product.precio3}}</span>
            </div>
            <p>
                {{product.descripcion}}
            </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
